@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>
                    مرحباً بك
                    <br/> 
                    فى أكبر منتدى 
                    <br/> 
                    للخدمات فى 
                    <br/> 
                    الشرق الأوسط
                </h3>
                <a class="mb-3" asp-area="Identity" asp-page="/Account/Login"> الدخول</a>
                <br />
            </div>
            <div class="col-md-9 register-right mt-4">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        @*<h3 class="register-heading">تسجيل </h3>*@
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="row register-form">
                                 <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>
                                <div class="col-md-6">
                                    <div class="form-group  mt-4">
                                        <input type="text" asp-for="Input.FirstName" class="form-control" placeholder=" * الأسم الأول" value="" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group  mt-4">
                                        <input type="text" asp-for="Input.LastName" class="form-control" placeholder="* الإسم الثانى" value="" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>

                                    </div>
                                    <div class="form-group  mt-4">
                                        <input type="password" asp-for="Input.Password" class="form-control" placeholder="* الرقم السري" value="" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                                    </div>
                                    <div class="form-group  mt-4">
                                        <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="* تأكيد الرقم السرى " value="" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                                    </div>
                                    <div class="form-group  mt-4">
                                        <div class="maxl">
                                            <label class="radio inline">
                                                <input type="radio" asp-for="Input.Gender" value="male" checked>
                                                <span> ذكر </span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" asp-for="Input.Gender" value="female">
                                                <span>أنثى </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group  mt-4">
                                        <input type="text" asp-for="Input.Email" class="form-control" placeholder="* البريد اللإلكترونى " value="" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>

                                    </div>
                                    <div class="form-group  mt-4">
                                        <input type="text" asp-for="Input.PhoneNumber" id="phone" minlength="11" maxlength="11" n class="form-control" placeholder="* رقم الهاتف " value="" />
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>

                                    </div>
                                    <div class="form-floating  mt-4">
                                        <textarea asp-for="Input.AboutMe" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">نبذة عنك </label>
                                        <span asp-validation-for="Input.AboutMe" class="text-danger"></span>

                                    </div>
                                </div>
                                @*Address*@
                                <div class="row mt-4">
                                    <div class="col-md-4">

                                        <select asp-for="Input.Country" class="form-select">
                                            <option value="Egypt"> مصر</option>
                                        </select>
                                        <span asp-validation-for="Input.Country" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-4">
                                        <select asp-for="Input.City" id="selCity" class="form-select" id="city">
                                             @foreach (var item in Model.govern)
                                                {
                                                <option value="@item.Governorate_name_en">@item.Governorate_name_ar</option>
                                                }
                                        </select>
                                        <span asp-validation-for="Input.City" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-4 ">

                                        <select asp-for="Input.Area" id="SelArea" class="form-select">
                                              @foreach (var item in Model.cities)
                                              {
                                                <option value="@item.city_name_en">@item.city_name_ar</option>
                                              }
                                        </select>
                                        <span asp-validation-for="Input.Area" class="text-danger"></span>

                                    </div>

                                </div>
                                
                            </div>
                            <button id="registerSubmit" type="submit" class=" btnRegister">تسجيل </button>
                        </form>
                        @*endregister*@
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
    <script>
        $("#selCity").on("change", function() {
            var governorateId = $(this).val();
            $("#SelArea").empty();
            $.ajax({  
                type: 'Get',  
                url: '@Url.Action("OnGetSubCities","JsonApi")',
                data:{GovernorateName:governorateId},
                dataType: "json",  
                success: (data)=> {
                    console.log(governorateId);
                    console.log(data);
                        for(var i = 0; i < data.length; i++){
                            $("#SelArea").append(`<option value="${data[i].city_name_en}">${data[i].city_name_ar}</option>`)
                        }
                },
                error: function (ex) {  
                    console.log(ex)
                }
            })
        })
    </script>


        <style>
    .validation-summary ul {
        list-style-type:none;
    }
    </style>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }

