@using Microsoft.AspNetCore.Identity
@model ContractViewModel
@inject UserManager<Customer> UserManager
@{
    ViewData["Title"] = "العقود";
}
<link href="~/assets/css/customerContracts.css" rel="stylesheet" />
<partial name="_ValidationScriptsPartial" />
    
<div class="container" style="direction:rtl">
<div class="row">
      <div class="col-4 mt-3">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">العقود المنتظرة</a>
          <a class="list-group-item list-group-item-action" id="list-home2-list" data-bs-toggle="list" href="#list-home2" role="tab" aria-controls="list-home2">العقود في انتظار الدفع</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">العقود قيد التنفيذ</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">العقود المنتهية</a>
      </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

            @if(Model.PendingContracts.Count() == 0)
            {
                <h1 class="text-center mt-5">لا توجد عقود في انتظار البدء</h1>
            }
            else
            {
                foreach(var contract in Model.PendingContracts)
                {
                    <div class="card mt-3 mb-3">
                        <div class="card-header">
                               عقد في إنتظار البدء لخدمة : @contract.Service.Title  
                        </div>
                        <div class="card-body">
                        @*<h5 class="card-title">@contract.Service.Title عن خدمة</h5>*@
                        @if (Model.UserId == contract.CustomerId)
                        {
                            <p class="card-title h5">عقد مع العميل @contract.Service.Customer.FirstName @contract.Service.Customer.LastName</p>    
                        }
                        else
                        {
                            <p class="card-title h5">عقد مع العميل @contract.Customer.FirstName @contract.Customer.LastName</p> 
                        }
                        @*you are customer*@
                        @if(contract.ContractPrice == default && Model.UserId == contract.CustomerId)
                        {
                           <p>لم يتم تحديد السعر ومدة التنفيذ حتى الآن ، من فضلك انتظر تحديد السعر ومدة التنفيذ من قبل ناشر الخدمة</p>
                        }//you are service owner
                        else if(contract.ContractPrice == default && Model.UserId == contract.SericeOwnerId)
                        {
                            @*<a class="btn btn-primary" asp-controller="Customer" asp-action="EditContractPrice" asp-route-id="@contract.ContractId">تحديد السعر</a>*@
                            <form asp-controller="Customer" asp-action="EditContractPrice" asp-route-id="@contract.ContractId">
                                <div class="row row-cols-2 my-3 pt-3 justify-content-end border-top">
                                    <div class="form-group my-2">
                                        <label asp-for="DeliveryTime"></label>
                                        <input type="number" asp-for="DeliveryTime" />
                                        <span asp-validation-for="DeliveryTime"></span>
                                    </div>
                                    <div class="form-group my-2">
                                        <label asp-for="Price"></label>
                                        <input asp-for="Price" />
                                        <span asp-validation-for="Price"></span>
                                    </div>
                                    <button class="btn btn-primary my-3 ms-2 col-2" type="submit">تحديد</button>
                                </div>
                            </form>
                        }
                        
                        else
                        {
                            <p class="row row-col-2">
                                <span class="col">سعر الخدمة المتفق عليه : @contract.ContractPrice دولار</span>
                                <span class="col">مدة التسليم : @contract.DeliveryTime يوم</span>
                            </p>
                            
                            //im the buyer and buyer accepted the service
                            @if((Model.UserId == contract.BuyerId && contract.BuyerAccepted)||(Model.UserId == contract.SellerId && contract.SellerAccepted))
                            {
                                
                                <p>لقد قبلت طلب العقد .. فى انتظار قبول الطرف الاخر</p>
                            }
                            
                            else
                            {
                                <a class="btn btn-primary" asp-controller="Customer" asp-action="AcceptContract" asp-route-id="@contract.ContractId">قبول الطلب</a>
                            }      

                        }
                       
                                
                        @*<a href="#" class="btn btn-danger">Cancel Request</a>*@
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" onclick="request('@contract.ContractId')">
                          إلغاء الطلب
                        </button>
                        <a class="btn btn-outline-info" asp-controller="service" asp-action="details" asp-route-id="@contract.ServiceId" >تفاصيل الخدمة</a>
                        </div>
                    </div>
                }
                        <!-- Delete Modal -->
                        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel2">أنت على وشك إلغاء الطلب هل أنت متأكد ؟</h5>
                                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                بالضغط على زر المسح سيتم مسح الطلب نهائياً !
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">العودة</button>
                                <button id="deleteBtn" type="button" class="btn btn-danger">مسح الطلب</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <script>
                            function request(requestId){
                                document.getElementById("deleteBtn").addEventListener("click",()=>{
                                    var link = '@Url.Action("DeleteContract","customer",new {id= "-1"})';
                                    link = link.replace("-1",requestId);
                                    window.location.href = link;
                                });
                            }
                        </script>

            }
          
          
          
          
          
          
          </div>


          <div class="tab-pane fade" id="list-home2" role="tabpanel" aria-labelledby="list-home2-list">

            @if(Model.PendingPaymentContracts.Count() == 0)
            {
                <h1 class="text-center mt-5">لا توجد عقود في انتظار الدفع</h1>
            }
            else
            {
                foreach(var contract in Model.PendingPaymentContracts)
                {
                    <div class="card mt-3 mb-3">
                        <div class="card-header">
                               عقد في إنتظار الدفع لخدمة : @contract.Service.Title  
                        </div>
                        <div class="card-body">
                        @if (Model.UserId == contract.CustomerId)
                        {
                            <h5 class="card-title">عقد مع العميل @contract.Service.Customer.FirstName @contract.Service.Customer.LastName</h5>    
                        }
                        else
                        {
                            <h5 class="card-title">عقد مع العميل @contract.Customer.FirstName @contract.Customer.LastName</h5> 
                        }
                        <p class="row row-col-2">
                                <span>سعر الخدمة المتفق عليه : @contract.ContractPrice دولار</span>
                                <span>مدة التسليم : @contract.DeliveryTime يوم</span>
                        </p>
                        
                        @if(Model.UserId == contract.BuyerId)
                        {
                            
                                <form asp-action="CreateCheckoutSession" asp-controller="payment" asp-route-CustomerId="@contract.CustomerId" asp-route-ContractId="@contract.ContractId" method="POST">
                                    <button type="submit" class="btn-primary btn">الانتقال للدفع</button>
                                </form>
                        }
                        else
                        {
                            <p>في انتظار المشتري لدفع الخدمة</p>
                        }
                                
                        @*<a href="#" class="btn btn-danger">Cancel Request</a>*@
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" onclick="request('@contract.ContractId')">
                          إلغاء الطلب
                        </button>
                        <a class="btn btn-outline-info" asp-controller="service" asp-action="details" asp-route-id="@contract.ServiceId" >تفاصيل الخدمة</a>
                        </div>
                    </div>
                }
                        <!-- Button trigger modal -->
                        @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          Launch static backdrop modal
                        </button>*@

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel2">أنت على وشك إلغاء الطلب هل أنت متأكد ؟</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                بالضغط على زر المسح سيتم مسح الطلب نهائياً !
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">العودة</button>
                                <button id="deleteBtn" type="button" class="btn btn-danger">مسح الطلب</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <script>
                            function request(requestId){
                                document.getElementById("deleteBtn").addEventListener("click",()=>{
                                    var link = '@Url.Action("DeleteContract","customer",new {id= "-1"})';
                                    link = link.replace("-1",requestId);
                                    window.location.href = link;
                                });
                            }
                        </script>

            }
          
          
          
          
          
          
          </div>





          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

            @if(Model.ActiveContracts.Count() == 0)
            {
                <h1 class="text-center mt-5">لا توجد عقود قيد التنفيذ</h1>
            }
            else
            {
                foreach(var contract in Model.ActiveContracts)
                {
                    <div class="card mt-3 mb-3">
                        <div class="card-header">
                               عقد قيد التنفيذ لخدمة : @contract.Service.Title  
                        </div>
                        <div class="card-body">
                        @if (Model.UserId == contract.CustomerId)
                        {
                            <h5 class="card-title">عقد مع العميل @contract.Service.Customer.FirstName @contract.Service.Customer.LastName</h5>    
                        }
                        else
                        {
                            <h5 class="card-title">عقد مع العميل @contract.Customer.FirstName @contract.Customer.LastName</h5> 
                        }
                        <p class="row row-col-2">
                            <span class="col">سعر الخدمة المتفق عليه : @contract.ContractPrice دولار</span>
                            <span class="col">مدة التسليم : @contract.DeliveryTime يوم</span>
                        </p>
                        <p class="card-text">
                            <p class="h5 my-2 fw-bold">تعليمات</p>
                            <ul>
                                
                                <li>عند اقرار الطرفين بتسليم الخدمة قبل الوقت المحدد لأنتهاء مدة التسليم يتم انهاء العقد وتحويل سعر الخدمة للبائع</li>
                                <li>عند فسخ العقد من قبل البائع يتم ارجاع سعر الخدمة إلى المشتري</li>
                            </ul>
                        </p>
                        @*<a href="#" class="btn btn-danger">إلغاء الطلب</a>*@
                        @if(Model.UserId == contract.SellerId && contract.SellerIsDone)
                        {
                            <p>تم ارسال طلب لأستلام الخدمة علماً بأنه اذا لم يستلم الخدمة قبل الوقت المحدد يتم تحويل سعر الخدمة في رصيدك المعلق بنهاية المدة </p>
                                        
                        }else if(Model.UserId == contract.SellerId && !contract.SellerIsDone)
                        {
                            <a class="btn btn-success" asp-controller="Customer" asp-action="ContractBuyerSellerDone" asp-route-id="@contract.ContractId" >ارسل طلب استلام الخدمة</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                              إلغاء الطلب
                            </button>
                        }
                        else if(Model.UserId == contract.BuyerId && contract.SellerIsDone)
                        {
                            <p>لقد أنهى البائع العمل وارسل لك طلب استلام ، الرجاء مراجعة الخدمة بشكل جيد قبل الضغط على استلام الخدمة </p>
                            @*<a class="btn btn-success" asp-controller="Customer" asp-action="ContractBuyerSellerDone" asp-route-id="@contract.ContractId" >استلام الخدمة</a>*@
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#done"  onclick="sendId('@contract.ContractId')">
                              استلام الخدمة
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                              إلغاء الطلب
                            </button>
                        }else
                        {
                            <p>في انتظار البائع لإتمام الخدمة وارسال طلب لك للاستلام</p>
                        }
                        
                        
                        <a class="btn btn-outline-info" asp-controller="service" asp-action="details" asp-route-id="@contract.ServiceId" >تفاصيل الخدمة</a>
                        </div>
                    </div>
                }
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">أنت على وشك إلغاء الطلب هل أنت متأكد ؟</h5>
                                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                بالضغط على زر المسح سيتم مسح الطلب نهائياً !
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">العودة</button>
                                <button type="button" class="btn btn-danger" asp-controller="Customer" asp-action="DeleteRequest">مسح الطلب</button>
                              </div>
                            </div>
                          </div>
                </div>
                <div class="modal fade" id="done" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <p class="modal-title h5" id="staticBackdropLabel2">تأكيد استلام الخدمة</p>
                                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                هل أنت متأكد من رغبتك بإستلام الخدمة ؟ استلامك للخدمة يعني ان البائع أنهى تنفيذ الخدمة كما تم الاتفاق عليه . لا تستلم الخدمة اذا كانت هناك امور غير مكتملة 
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondrey" data-bs-dismiss="modal">العودة</button>
                                <button type="button" id="doneBtn" class="btn btn-success">استلام الخدمة</button>
                              </div>
                            </div>
                          </div>
                </div>
                <script>
                        function sendId(id){
                            document.getElementById("doneBtn").addEventListener("click",()=>{
                                var link = '@Url.Action("ContractBuyerSellerDone","customer",new {id= "-1"})';
                                link = link.replace("-1",id);
                                window.location.href = link;
                            });
                        }
                </script>
            } 
          
          </div>

          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
            
              @if(Model.DoneContracts.Count() == 0)
            {
                <h1 class="text-center mt-5">لا توجد عقود قد تم الانتهاء منها</h1>
            }
            else
            {
                foreach(var contract in Model.DoneContracts)
                {
                    <div class="card mt-3 mb-3">
                        <div class="card-header">
                               عقد قيد التنفيذ لخدمة : @contract.Service.Title  
                        </div>
                        <div class="card-body">
                        @if (Model.UserId == contract.CustomerId)
                        {
                            <h5 class="card-title">عقد مع العميل @contract.Service.Customer.FirstName @contract.Service.Customer.LastName</h5>    
                        }
                        else
                        {
                            <h5 class="card-title">عقد مع العميل @contract.Customer.FirstName @contract.Customer.LastName</h5> 
                        }
                        <p>سعر الخدمة المتفق عليه : @contract.ContractPrice</p>
                        <small>تاريخ انتهاء الخدمة : @contract.EndDate</small>
                        @*<a class="btn btn-outline-info" asp-controller="service" asp-action="details" asp-route-id="@contract.ServiceId" >تقييم الخدمة</a>*@
                        <a class="btn btn-outline-info" asp-controller="service" asp-action="details" asp-route-id="@contract.ServiceId" >تفاصيل الخدمة</a>
                        </div>
                    </div>
                }
               
            }



          </div>
          
        </div>
      </div>
</div>
</div>

