@model CustomerRequestViewModel
@{
    ViewData["Title"] = "الطلبات";
}

    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">الطلبات الواردة</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">الطلبات الصادرة</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

            @if(Model.IncomingRequests.Count() == 0)
            {
                <h1 class="text-center">لا يوجد طلبات واردة حالياَ</h1>
            }
            else
            {
                foreach(var request in Model.IncomingRequests)
                {
                    <div class="card mt-3">
                        <div class="card-header">
                                @request.Customer.FirstName @request.Customer.LastName لديك طلب قادم من طرف  
                        </div>
                        <div class="card-body">
                        <h5 class="card-title">@request.Service.Title عن خدمة</h5>
                        <p class="card-text"> يريد بدأ التعاقد معك @request.Customer.FirstName @request.Customer.LastName
                            <br/>
                            <small class="text-muted">@request.RequestDate : تاريخ الطلب </small>
                        </p>
                        <a asp-controller="customer" asp-action="AcceptServiceRequest" asp-route-id="@request.RequestId" class="btn btn-primary">قبول الطلب</a>
                        @*<a href="#" class="btn btn-danger">Cancel Request</a>*@
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" onclick="request('@request.RequestId')">
                          إلغاء الطلب
                        </button>
                        </div>
                    </div>
                }
                        <!-- Button trigger modal -->
                        @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          Launch static backdrop modal
                        </button>*@

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel2">أنت على وشك إلغاء الطلب هل أنت متأكد ؟</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                بالضغط على زر المسح سيتم مسح الطلب نهائياً !
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">العودة</button>
                                <button id="deleteBtn" type="button" class="btn btn-danger">مسح الطلب</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <script>
                            function request(requestId){
                                document.getElementById("deleteBtn").addEventListener("click",()=>{
                                    var link = '@Url.Action("DeleteRequest","customer",new {id= "-1"})';
                                    link = link.replace("-1",requestId);
                                    window.location.href = link;
                                });
                            }
                        </script>

            }
          
          
          
          
          
          
          </div>





          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

            @if(Model.OutgoingRequests.Count() == 0)
            {
                <h1 class="text-center mt-5">لا يوجد طلبات صادرة حالياً</h1>
            }
            else
            {
                foreach(var request in Model.OutgoingRequests)
                {
                    <div class="card mt-3">
                        @if (request.Service.IsFreelancer)
                        {
                            <div class="card-header">
                               @request.Service.Customer.FirstName @request.Service.Customer.LastName لقد طلبت خدمة من العميل 
                            </div>
                        }
                        else
                        {
                            <div class="card-header">
                                @request.Service.Customer.FirstName @request.Service.Customer.LastName لقد ارسلت طلب عمل للعميل  
                            </div>
                        }
                        <div class="card-body">
                        <h5 class="card-title"> @request.Service.Title عن خدمة</h5>
                        <p class="card-text">تذكر يمكنك إلغاء الطلب في أي وقت قبل قبوله من الطرف الاخر   
                            <br/>
                            <small class="text-muted">@request.RequestDate : تاريخ الطلب</small>
                        </p>
                        @*<a href="#" class="btn btn-danger">إلغاء الطلب</a>*@
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="requestI('@request.RequestId')">
                          إلغاء الطلب
                        </button>
                        </div>
                    </div>
                }
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">أنت على وشك إلغاء الطلب هل أنت متأكد ؟</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                بالضغط على زر المسح سيتم مسح الطلب نهائياً !
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">العودة</button>
                                <button id="deleteBtn2" type="button" class="btn btn-danger">مسح الطلب</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <script>
                            function requestI(requestId){
                                document.getElementById("deleteBtn2").addEventListener("click",()=>{
                                    var link = '@Url.Action("DeleteRequest","customer",new {id= "-1"})';
                                    link = link.replace("-1",requestId);
                                    window.location.href = link;
                                });
                            }
                        </script>
            } 
          
          </div>
          
        </div>
      </div>
    </div>


