@{
    ViewData["Title"] = "Services";
}
    <section id="services" class="services section-bg pt-3 row" style="direction:rtl">
        <div class="col-12 d-flex justify-content-around" data-aos="fade-up">
            <div class="section-title">
                <h2>خدمات مطلوبة </h2>
                <p>تصفح الخدمات المطلوبة وتواصل مع صاحب الخدمة لتحصل عليها </p>
            </div>
        </div>
                <div class="col-12 my-5 d-flex justify-content-center">
                    <form asp-action="index" asp-controller="Categories"  asp-route-id="@ViewBag.Id">
                        <input type="checkbox" checked data-toggle="toggle" data-off="خدمات" data-on="طلبات"
                         data-onstyle="primary" data-offstyle="success" id="checkbox">
                    </form>            
                </div>
            <div class="col-3" style="direction:rtl">
                 <div class="d-flex flex-column flex-shrink-0 mb-5 icon-box iconbox-blue w-100" style="width: 280px;direction:rtl">
                    <a href="/" class="d-flex align-items-center justify-content-center link-dark text-decoration-none">
                      <span class="fs-4">خدماتنا</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-auto  mt-5 p-0">
                    @{
                        foreach (var item in ViewBag.Categories)
                        {
                            if (ViewBag.Id == @item.CategoryId)
                            {
                                <li class="nav-item">
                                <form asp-controller="Categories" asp-action="Search">
                                    <input type="hidden" value="ViewBag.Text" name="text">
                                    <input type="hidden" value="@item.CategoryId" name="text">
                                    <input type="submit" value="@item.Name" class="categorylinks nav-link text-dark active w-100">
                                </form>
                                </li>

                            }
                            else
                            {
                                <li class="nav-item">
                                <form asp-controller="Categories" asp-action="Search" method="get">
                                    <input type="hidden" value="@ViewBag.Text" name="text">
                                    <input type="hidden" value="@item.CategoryId" name="categoryId">
                                    <input type="submit" value="@item.Name" class="categorylinks nav-link text-dark w-100">
                                </form>
                                </li>
                            }   
                        }
                    }
                    </ul>
                  </div>
            </div>
            <div class="col-9" >
            @{
                foreach (var service in Model)
                {
                    
                        <div class="card-deck">
                      <div class="card col-lg-3 col-md-4 col-sm-6 border-0">
                                <div class="position-relative">
                                <a>
                                    <img class="card-img-top" src="~/Images/CategoriesImage/@service.Medias[0].MediaPath">
                                </a>
                                <img src="~/Images/@service.Customer.ProfileImage" class="position-absolute bottom-0 start-0 img-thumbnail rounded-circle w-25" />
                                </div>
                                <div class="card-body px-0">
                                     <p class="card-title h5 mb-3">@service.Title</p>
                                            <div>تبدأ من : <span>@service.Price $</span></div>
                                                @{
                                                    if (@service.IsCash)
                                                        {
                                                            <div>متاح التعامل بالكاش او الفيزا</div>
                                                        }
                                                    else
                                                        {
                                                            <div>متاح التعامل بالفيزا فقط </div>
                                                        }
                                                }
                                        </div>
                                    </div>
                                </div>
                        }}
                </div>

            </div>
    </section>
        <script>
           let ele= document.getElementById("checkbox");
           ele.onchange=()=>{setTimeout(()=>{
               ele.form.submit()
           },500)};
            
    </script>