@using System.Security.Claims
@model Sho8lana.Models.Service

@{
    ViewData["Title"] = "Details";

    var now = DateTime.Now;
    var s = @Model.PublishDate;
    var diff  = now.Subtract(s).Days;
    var diff1 = now.Subtract(s).Hours;
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

}



<div class="row mb-3 mt-5 flex-column align-items-center">
    <h4 class="text-center">Service</h4>
    <hr />
    <div id="carouselExampleControls" class="carousel slide col-sm-12 col-md-6 " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/services/Service.png" class="col-12" height="200px" >
    </div>
    @foreach (var image in Model.Medias)
        {
            <div class="carousel-item">
                <img src="/assets/img/services/@image.MediaPath" class="col-12" height="200px">
            </div>
        
        }
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
    

<div class="card text-center col-sm-12 col-md-6">
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(model => model.Title)</h5>
    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(model => model.Category.Name)</h6>
    <h6 class"card-subtitle mb-2 text-muted">Description</h6>
    <p class="card-text">@Html.DisplayFor(model=>model.Description)</p>
    <h6 class"card-subtitle mb-2 text-muted">Customer Instruction</h6>
    <p class="card-text">@Html.DisplayFor(model=>model.CustomerInstructions)</p>
    <h6 class"card-subtitle mb-2 text-muted">Customer</h6>
    <p class="card-text">@Html.DisplayFor(model=>model.Customer.FirstName) @Html.DisplayFor(model=>model.Customer.LastName) </p>
    @if (Model.IsCash)
    {
    <p class="card-text text-danger">Cash only</p>    
    }
    else{<p class="card-text text-danger">Online only</p> }
    
    
    <div class="card-footer text-muted">
        From @diff Days and @diff1 Hours ago
    </div>
    <div class="card-footer text-danger mb-3">
    @Html.DisplayFor(model=>model.Price)
    </div>

    @if (Model.CustomerId!= userId)
    {
        if(Model.IsCash==false){
        <a class="btn btn-primary" asp-controller="Customer" asp-action="RequestService" asp-route-id="@Model.ServiceId">Send Request</a>
              
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ServiceId">Send Message</a>
        
        }
        
        else
        {
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ServiceId">Send Message</a>
        }
    }
    else
            
    {
                <div class="card-footer">
                    <form method="post" asp-action="Delete" asp-route-id="@Model.ServiceId">
                        <a  asp-action="Edit"
                            asp-route-id="@Model.ServiceId" class="btn btn-primary">Edit</a>

                        <span id="confirmDeleteSpan_@Model.ServiceId" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a class="btn btn-primary"
                                onclick="confirmDelete('@Model.ServiceId', false)">No</a>
                        </span>

                        <span id="deleteSpan_@Model.ServiceId">
                            <a  class="btn btn-danger"
                                onclick="confirmDelete('@Model.ServiceId', true)">Delete</a>
                        </span>
                     </form>
                 </div>       
    }


  </div>
</div>
</div>

<script>
    function confirmDelete(uniqueId, isDeleteClicked) {
    var deleteSpan = 'deleteSpan_' + uniqueId;
    var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

    if (isDeleteClicked) {
        $('#' + deleteSpan).hide();
        $('#' + confirmDeleteSpan).show();
    } else {
        $('#' + deleteSpan).show();
        $('#' + confirmDeleteSpan).hide();
    }
}
</script>
 